/*  */


.caja {

    background-color: green;

    /* FLEXBOX */

    display: flex;
    flex: 1;


}

.box1, .box2, .box3 {

    background-color: red;
    color: blue;
    text-align: center;
    font: bold;
    
    /* PRUEBAS DE CAJA */
    
    padding: 5px;
    border: 10px solid #Ffff00;
    margin: 10px;
    height: 50px;
    width: 100px;

}


