/*  */

div {

    flex: 1;
    /*justify-content: space-around;*/
    gap: 25px;
}

.caja {

    background-color: green;

    /* FLEXBOX */

    display: flex;
    /*flex: 1;*/


}

/*
.prueba {
    flex: 2;
}
*/

.box1, .box2, .box3, .prueba {

    background-color: red;
    color: blue;
    text-align: center;
    font: bold;
    
    /* PRUEBAS DE CAJA */
    
    padding: 5px;
    border: 10px solid #Ffff00;
    margin: 10px;
    height: 50px;
    width: 100px;

}


/* 

flex-shrink: 1 es para reducir todas las cajas a las mismas dimensiones 
flex-direction: ;
align-item: ; alinear todos los items dentro de una caja de una forma especifica.

*/